:root {
    --jungle-color-blue: #0267b1;
    --jungle-color-orange: #fbb81d;
}
.w3-junglebus {
    color: var(--jungle-color-orange);
    background-color: var(--jungle-color-blue) !important;
}
.w3-text-junglebus {
    color: var(--jungle-color-blue) !important;
}


.stop_dot {
    background-color: #FFF;
    border-style: solid;
    border-width: 4px;
    border-color: #000;
    border-radius: 50%;
    box-sizing: content-box;
    content: '';
    height: 6px;
    width: 6px;
    position: relative;
    display: inline-block;
    left: -9px;
    top: -3px;
}

.stop_item {
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: #000;
    height: 26px;
    box-sizing: content-box;
}
